apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Values.name }}
spec:
  selector:
    matchLabels:
      {{- include "app.label" . | nindent 6 }}
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        {{- include "app.label" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Values.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.servicePort }}
      imagePullSecrets:
        - name: {{ .Values.image.imagePullSecret }}
  strategy:
    bluegreen:
      autoPromotionEnabled: false
      activeService: {{ .Values.name }}
      previewService: {{ .Values.name }}-preview